/* body {
  display:flex; 
  align-items: center;/* 
  height:100vh; 
  justify-content:center;
} */

#login > #mainLoginTbl{
  margin: auto;
}
#login > #loginTbl{
  padding: 20px;
  text-align: center;
  width: 100vw;
}
#mainLoginTbl2{
  border: 2px solid black;
  margin: auto;
  text-align: right;
  width: 100vw;
}
#col-1 { 
    margin: auto;
    padding: 0;/* 
    width: 2%; */
   }
   #col-2 { 
    /* width: 96%; */
   }
   @media only screen and (max-width: 600px) {
    #col-2 {
      background-color: blue;
      width: 50%;
    }
  }
   #col-3{ 
    margin: auto;
    padding: 0;
    visibility: hidden;/* 
    width: 2%; */
   }
   #col-1b{ 
    text-align: center;
    margin: auto;
    padding: 0;
   /*  width: 2%; */
   }
   #col-2b{ 
    text-align: center;
  /*   width: 96%; */
   }
   #col-3b{
    margin: auto;
    padding: 0;
   /*  width: 2%; */
   }
   #col-4a{ 
    margin: auto;
    padding: 0;
    visibility: hidden;/* 
    width: 2%; */
   }
   #col-4{ 
    text-align: left;/* 
    width: 96%; */
   }
   #col-4b{ 
    visibility: hidden;/* 
    width: 2%; */
   }
  
.col-1 { 
    margin: auto;
    padding: 0;
  /*   width: 2%; */
   }
  .col-2 { 
    width: 96%; 
  }
  .col-3 { 
    margin: auto;
    padding: 0;
   /*  width: 2%; */
   }
  .col-4 { 
    
    margin: auto;
    padding: 0;/* 
    width: 5%; */
   }

.hints{
  margin-right: 55px;
} 

  .row::after {
    display: flex;
    clear: both;
    content: "";
  }

  *{
    background-color: lightskyblue;
  }


