/* body {
  display:flex; 
  align-items: center;/* 
  height:100vh; 
  justify-content:center;
} */

#login > #mainLoginTbl{
  margin: auto;
}
#login > #loginTbl{
  padding: 20px;
  text-align: center;
  width: 100vw;
}
#col-1 { 
    margin: auto;
    padding: 0;/* 
    width: 2%; */
   }
   #col-2 { 
    /* width: 96%; */
   }
   #col-3{ 
    margin: auto;
    padding: 0;
    visibility: hidden;/* 
    width: 2%; */
   }
   #col-1b{ 
    text-align: center;
    margin: auto;
    padding: 0;
   /*  width: 2%; */
   }
   #col-2b{ 
    text-align: center;
  /*   width: 96%; */
   }
   #col-3b{
    margin: auto;
    padding: 0;
   /*  width: 2%; */
   }
   #col-4a{ 
    margin: auto;
    padding: 0;
    visibility: hidden;/* 
    width: 2%; */
   }
   #col-4{ 
    text-align: center;/* 
    width: 96%; */
   }
   #col-4b{ 
    visibility: hidden;/* 
    width: 2%; */
   }
  
.col-1 { 
    margin: auto;
    padding: 0;
  /*   width: 2%; */
   }
  .col-2 { 
    width: 96%; 
  }
  .col-3 { 
    margin: auto;
    padding: 0;
   /*  width: 2%; */
   }
  .col-4 { 
    
    margin: auto;
    padding: 0;/* 
    width: 5%; */
   }
 .col-5 { 
    text-align: center;
  /*   width: 85%;  */
  }
/*   .col-6 { width: 10%; } */
.hints{
  margin-right: 55px;
} 
.row {
    display: flex;
    width: 100%;
  }
  .row::after {
    display: flex;
    clear: both;
    content: "";
  }
  .submitBtn{
    margin-left: 45px;
  }
  .unorderedList{
    text-align: left;
    margin-right: 25px;
  }
  #loginBtn{
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
#loginForm{
    
}
#loginInputUsername, #loginInputPassword{
    border: none;
    border-radius: 6px;
    margin: 5px;
    padding: 8px;
}
ul {
  list-style-type: none;
 /*  padding-right: 65px; */
}