th{
    text-align: left;
}
#buttonHldr{
    padding-top: 15px;
    text-align: right;
}
#filterBtn:active, #sortBtn:active{
    top: 1px;
    box-shadow: 2px 2px skyblue;
    transform: translateY(3px);
}
#filterBtn:hover, #sortBtn:hover{
    background-color:rgba(135,206,250, 50%);
    border-radius: 10px;
    padding-top: 8px;
}
#filterBtn, #sortBtn{
    background-color: transparent;
    border: none;
    float: right;
    font-size:x-large;
    margin-right: 20px;
    padding-top: 8px;
}
#mainBelt > #testPg{
    border : 2px solid orange;
    margin: auto;
    padding-top: 50px;
    width: 100vw;
}
#mainBelt > #testPg > tr > td{
    /* border: 4px solid white;  TEST TEST TEST */
    margin: auto;
    text-align: center;
    width: 100vw;
}
#moveBtn{
    margin: auto;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}
#q{
    padding-bottom: 20px;
}
#subBtn{
    border-radius: 10px;
    font-family: cursive;
    font-size: large;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}
#mainData > label{
    position: relative;
    border: 9px solid goldenrod;
    width: 100vw;
}
#testTbl{
    margin-top: 20px;
}
#titles{
    color: white;
    text-align: left;
    text-decoration: none;
}
#titles:hover{
    color: powderblue;
    
}
#unorderedList{
    margin: 10px;
    text-align: left;
}
#unorderedList > li{
    margin: 5px;
}
#verifiedAnswer{
    padding-bottom: 40px;
}
