
#addBtn{
    border-radius: 8px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
}
#addBtnContainer{
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: right;
}
#buttonHldr{
    padding-top: 15px;
    text-align: right;
}
#col-1b{
    width: 5px;
}
#filterBtn:active, #sortBtn:active{
    top: 1px;
    box-shadow: 2px 2px skyblue;
    transform: translateY(3px);
}
#filterBtn:hover, #sortBtn:hover{
    background-color:rgba(135,206,250, 50%);
    border-radius: 10px;
    padding-top: 8px;
}
#filterBtn, #sortBtn{
    background-color: transparent;
    border: none;
    float: right;
    font-size:x-large;
    margin-right: 20px;
    padding-top: 8px;
}
#q{
    padding-bottom: 20px;
}
#subBtn{
    border-radius: 10px;
    font-family: cursive;
    font-size: large;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}
#mainData > label{
    position: relative;
    border: 9px solid goldenrod;
    width: 100vw;
}
#testTbl{
    margin-top: 20px;
    margin: 20px;
}
#titles{
    color: white;
    text-align: left;
    text-decoration: none;
}

#unorderedList{
    text-align: left;
}

#verifiedAnswer{
    padding-bottom: 40px;
}
