#group_TestBtns > button{
    border-radius: 8px;
    margin: 7px;
    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 5px;
}
#menuBtnHldr, #group_TestBtns{
    display: flex;
    justify-content: center;
    text-align: center;
}
#pgCreateComponent, #pgTestpage{
    display: flex;
    justify-content: center;
}
#testForm{
    text-align: center;
    vertical-align: middle;
}
#testForm > label{
    font-size: xx-large;
}
#testSelectSubmit{
    border-radius: 15px;
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 10px;
}
label{
    margin: 90px;
}
option{
    font-size: x-large;
}

select {
    display: block;
    height:40px;
    margin: auto;
    width:350px;
}


