body {
  background-color: lightskyblue;
  color: white;
  margin: 0;
}
.col-guts {
  text-align: center;
  width: 100%;
}
.col-guts > ul {
  list-style-type: none;
}
.row {
  display: flex;
  width: 100%;
}
.row::after {
  display: block;
  clear: both;
  content: "";
}
#logo {
  height: 20vmin;
  padding: 25px;
  min-width: 20vmin;
  text-align: left;
}
#logo_txt{
  text-align: center;
}
#score {
 /*  padding: 20px; */
}